{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Physics LNZ{% endblock %}</title>
    <script type="text/javascript" src = "{% static 'js/lib/jQuery.min.js' %}"></script>
    <script type="text/javascript" src = "{% static 'js/lib/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/Box2d.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1 style="color: white;">Physics LNZ</h1>
        </div>
        <div class="inner-menu">
            <a href="{% url 'physics:home' %}" class="menu-link">Головна</a>
            {% if user.is_authenticated %}
                <a href="{% url 'physics:my_projects' %}" class="menu-link">Мої проекти</a>
                <a href="{% url 'physics:create_project' %}" class="menu-link button">Створити проект</a>
                <a class="menu-link" href="{% url 'logout'%}?next={% url 'physics:home' %}">Вийти</a>
            {% else %}
                <a class="menu-link" href="{% url 'account:register'%}?next={% url 'physics:home' %}">Зареєструватися</a>
                <a class="menu-link button" href="{% url 'login'%}?next={% url 'physics:home' %}">Увійти</a>
            {% endif %}
        </div>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>